<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mapp.com.sg.moiepicer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".History" />
        <activity android:name=".Create" />
        <activity android:name=".User" />
        <activity android:name=".Search" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alarm"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features"
            android:label="@string/title_activity_features"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Preparation"
            android:label="@string/title_activity_preparation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipeDetails"
            android:label="@string/title_activity_recipe_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cooking"
            android:label="@string/title_activity_cooking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing"
            android:label="Testing"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".LoadingActivity" android:noHistory="true" ></activity>
    </application>

</manifest>